html {
    scroll-behavior: smooth;
    background-color: rgb(226, 226, 226);
}

/* custom cursor */
* {
    cursor: url("./assets/cursor3.svg"), auto;
    margin: 0;
}

/* custom cursor */
footer,
footer *,
.black-label {
    cursor: url("./assets/cursor4.svg"), auto;
}

/* hide scroll bar */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hide scroll bar */
body::-webkit-scrollbar {
    display: none;
}

#name {
    font-family: 'Passion One', sans-serif;
}

#name-section,
#footer {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    margin: 2rem;
}

#made-short-text {
    font-family: 'Caveat', cursive;
}


.playresetbio {
    animation: resetbio 1s linear infinite;
}

.playmarquee {
    animation: marquee 20s linear infinite;
}

@keyframes resetbio {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(360deg) translateY(-1rem);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@keyframes marquee {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}